[run]
source = pse
omit =
    tests/*
    pse/util/*

[report]
omit =
    tests/*
    */__init__.py
    pse/util/*
exclude_lines =
    def __repr__
    def __str__
    ^\s*if __name__ == ['"]__main__['"]:?
    pragma: no cover
